@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Notable&family=Odibee+Sans&display=swap');


*{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
    margin: 1.5em;
    padding: 1.0em;
    font-size: 3em;
    text-decoration: overline;
    text-shadow: 1px 1px 2px black;
}

main{
    position: relative;
}

button{
    font-family: 'Odibee Sans', cursive;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 7em;
    height: 1.8em;
    text-align: center;
}

button:hover{
    background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
    cursor: pointer;
    outline: none;
    border:  solid #040404;
    
    
}

.textspace{
    padding:10px;
    width: fit-content;
    height: fit-content;    
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Odibee Sans', cursive;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: justify;
    
}

.textspace:hover{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    text-align: justify;
    overflow: hidden;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    color: black
}

@media (max-width: 844px){
    header{
        font-size: 2em;
        padding:10px;
        
    }

    button{
        margin-top: 100px;
    }

    .textspace{
        font-size: 1em;
        margin-top: 150px;
        width: 85%;
        height: fit-content;  
        text-align: center;
    }

    .textspace:hover{
        text-align: center;
        width: 250px;
        height: fit-content; 
}
}

@media (max-width: 915px){
    header{
        font-size: 2em;
        padding:10px;
        
    }

    button{
        margin-top: 100px;
    }

    .textspace{
        margin-top: 150px;
        width: 250px;
        height: fit-content;  
        text-align: center;
    }

    .textspace:hover{
        text-align: center;
   
}
}

@media (max-width: 1024px){
    header{
        font-size: 2em;
        padding:10px;
        
    }

    button{
        margin-top: 100px;
    }

    .textspace{
        margin-top: 150px;
        width: 500px;
        height: fit-content;  
        text-align: center;
    }

    .textspace:hover{
        text-align: center;
    }
   
}


